/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

html {
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

// .app{
//   background-color: #738dd1;
// }

.v-expansion-panel-title {
  height: 10px;
}

.center-Elements-Flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-Elements {
  align-items: center;
  justify-content: center;
}

.title-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0 100px;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: 20px;
}

.title:hover {
  color: #42b983;
  /* Cor de destaque ao passar o mouse */
}

.alert-box {
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  border-collapse: collapse;
  position: relative;
}

// ::-webkit-scrollbar {
//   width: 12px;
// }

// ::-webkit-scrollbar-thumb {
//   -webkit-border-radius: 10px;
//   -webkit-box-shadow: inset 0 0 2px; 
// }


.card-padding {
  padding-top: 20px;
}