/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

html {
  overflow: hidden;
  font-size: 1rem;
}

#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.v-expansion-panel-title {
  height: 10px;
}

.center-Elements-Flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-Elements {
  align-items: center;
  justify-content: center;
}

.title-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.title:hover {
  color: #42b983;
}

.alert-box {
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  border-collapse: collapse;
  position: relative;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
}

.card-padding {
  padding-top: 20px;
}

.sheet {
  // background-color: lightgrey;
  background-color: transparent;
}